<form class="row justify-content-center mt-4" name="form" (ngSubmit)="savePost()" #f="ngForm" novalidate>
    <div class="form-group m-3 col-6">
        <label for="question" class="text-yellow">Question</label>
        <input type="text" class="form-control" name="question" [(ngModel)]="form.question" #title="ngModel"
            placeholder="Question" value="{{data.title}}" required >

    </div>
    <div class="form-group m-3 col-6">
        <label for="description" class="text-yellow">Description</label>
        <textarea type="text" rows="4" class="form-control" name="description" [(ngModel)]="form.description" required
            minlength="6" #content="ngModel" placeholder="Description" value="{{data.content}}"></textarea>

    </div>
    <div class="form-group m-3 col-6">
        <label for="tag" class="text-yellow">Question</label>
        <input type="text" class="form-control" name="tag" [(ngModel)]="form.tag" required #tag="ngModel"
            placeholder="Tag" value="{{data.tag}}" />
        <div class="alert alert-danger" role="alert" *ngIf="form.tag.errors && f.submitted">
            Question can not be empty
        </div>
    </div>
    <div class="form-group m-3 col-6">
        <button class="btn bg-yellow font-weight-bold btn-block">
            SAVE POST
        </button>
    </div>
</form>